{% extends 'class_groups/base_class_page.html' %}

{% block header %}
    <div class="row spacer">
        <div class="col-sm">
            <h2 class="text-center">{{ year }}</h2>
        </div>
    </div>
{% endblock %}

{% block class_list %}
    <div class="row">
        {% for band in year.band_set.all %}
            <div class="col-sm-6">
                <a href="{% url 'class_groups:band-view' year.value band.value %}">
                    <h3 class="text-center">{{ band.get_value_display }}</h3>
                </a>
                {% for set in band.set_set.all %}
                    <a href="{% url 'class_groups:set-view' year.value band.value set.value %}">
                        <h4 class="text-center">{{ set.get_value_display }}</h4>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}