{% extends "base.html" %}

{% block content %}
<h2>Welcome to the SIS</h2>
<a href="{% url "social:begin" "google-oauth2" %}?next={{request.get_full_path}}">Google Sign-in</a>
<a href="{% url "home:logout" %}">Sign Out</a>

{% if user.is_authenticated %}
<h1>Hi, {{ user.first_name }}. You're signed in!</h1>
{% else %}
<h1>You're signed out!</h1>
{% endif %}

<div id="announcements">
    {% for announcement in announcements %}
    <h1>{{ announcement.header }}</h1>
    <h4>{{ announcement.created }}</h4>
    <p>{{ announcement.body_text }}</p>
    {% endfor %}
</div>
{% endblock content %}